@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;600&display=swap');

* {
  font-family: 'Work Sans', sans-serif;
}

body {
  background: #e7e7e7; 
}

.btn-primary {
  background: #3498db;
  border: none;
  font-weight: 600;
}

.btn-primary:hover {
  background: #e7e7e7; 
  color: #3498db;
}

.single-page-title {
  font-weight: 600;
  margin-top: 1em;
  margin-bottom: 1em;
}

.header-list-item {
  list-style: none;
}

.nav-link {
  color: #6c757d!important;
}

header {
  background: #fff;
  color: #232323;
}

.custom-header {
  border-bottom: 2px solid #c2c2c2; 
}